@import "tailwindcss";

.container-x {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}
@media (min-width: 640px) {
  .container-x {
    @apply px-6;
  }
}
@media (min-width: 1024px) {
  .container-x {
    @apply px-8;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Source Sans Pro',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
nav {
padding-top: 20;
padding-bottom: 20;
padding-left: 42;
padding-right: 48;
align-items: center;
}
startbutton {
  width: 5px;
  height: 5px;
  text-align: center;
  padding-top: 0.4%;
  justify-content: center;
}
div3 {
  text-align: center;
  padding-top: 2%;
  justify-content: center;
  margin-left: 3%;
  padding-left: 21;
  padding-bottom: 15;
}
section {
  padding-left: 43;
  padding-right: 34;
  padding-top: 100px;
  
}
leafborder {
  width: 32;
  height: 32;
  border-radius: 16;
  padding-left: 6;
  padding-top: 5;
}
ecoborder {
  height: 70px;
  width: 210px;
  box-shadow: 5cap;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding-left: 18px;
  border-radius: 12px;
}
secbutton {
  width: 150;
  height: 45;
  margin-top: 25px;
  text-align: center;
  border-radius: 10;
  padding-top: 1.5%;
}
mobutton {
  width: 120;
  height: 45;
  margin-top: 25px;
  text-align: center;
  border-radius: 10;
  padding-top: 1.5%;
}
section2 {
  padding-left: 42;
  padding-right: 48;
  /* align-items: center; */
  padding-top: 120px;
  justify-content: center;
}
div1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 5%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  padding-left: 40px;
}
div2 {
  width: 55px;
  height: 5px;
  background-color: #22c55e;
  border-radius: 9999px;
  align-content: center;
  margin-bottom: 7%;
  margin-left: 48%;
  margin-top: 1%;

}
divcard {
  justify-content: space-between;
  gap: 25px;
  width: 100%;
  height: 250px;
  margin-bottom: 10%;
  border-radius: 500%;
}
divbod {
  border-radius: 6%;
  box-shadow: #22c55e;
}
divicon {
  margin-left: 6%;
  margin-bottom: 10px;
  margin-top: 10px;
}
h3text {
margin-left: 6%;
}
ptext {
  margin-left: 6%;

}
ptext2 {
  margin-left: 6%;
}
ptext3 {
  margin-left: 6%;
}
h1text {
  margin-bottom: 15%;
}
div6 {
  display: flex;
  gap: 25px;
  margin-bottom: 2%;
  margin-top: 5%;
}
li1 {
margin-bottom: 2%;
}
divp {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 5%;
}
openbutton {
  width: 140px;
  height: 40px;
  text-align: center;
  margin-right: 3%;
  margin-top: 1%;
  padding-top: 7px;
}
joindiv {
 margin-left: 2.5%;
}
h4t {
  margin-left: 2.5%;
  margin-top: 3%;
}
divcon {
  margin-top: 10%;
  margin-left: 20%;
  justify-content: center;
  align-items: center;
  align-content: center;
} 
divspo{
  margin-top:10%;
  margin-left: -25%;
  align-items: center;
}
divcop{
  display: flex;
  /* justify-content: center; */
  align-content: center;
  margin-bottom: 5%;
}
divcons{
  display:flow;
  margin-bottom: 5%;
  padding-top: 10%;

}
divcop1{
  display: flex;
  /* justify-content: center; */
  align-content: center;
  margin-bottom: 10%;
}
divcop2{
  display: flex;
  align-content: center;
  margin-left: 35%;
  margin-bottom: 3%;
}
divcopy {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 7%;
  margin-bottom: 5%;
}
h1t {
  margin-bottom: 5%;
}
divlog {
  margin-top: 30px;
}
divtext {
  margin-top: 13px;
  margin-bottom: 20px;
}
/* h1b {
  color: black;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin-left: 6%;
} */